USE [master]
GO
/****** Object:  Database [Our_Decor]    Script Date: 19.05.2026 20:51:39 ******/
CREATE DATABASE [Our_Decor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Our_Decor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Our_Decor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Our_Decor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Our_Decor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Our_Decor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Our_Decor]
GO
/****** Object:  User [v]    Script Date: 19.05.2026 20:51:39 ******/
CREATE USER [v] FOR LOGIN [v] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [st]    Script Date: 19.05.2026 20:51:39 ******/
CREATE USER [st] FOR LOGIN [st] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [gg]    Script Date: 19.05.2026 20:51:39 ******/
CREATE USER [gg] FOR LOGIN [gg] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ed_izm]    Script Date: 19.05.2026 20:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ed_izm](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ed_izm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 19.05.2026 20:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Procent_of_brak] [float] NOT NULL,
 CONSTRAINT [PK_Material_type_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 19.05.2026 20:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] NOT NULL,
	[Material_name] [nvarchar](100) NOT NULL,
	[ID_material_type] [int] NOT NULL,
	[Price_ed] [float] NOT NULL,
	[Count_in_warehouse] [float] NOT NULL,
	[Min_col] [float] NOT NULL,
	[Col_in_up] [int] NOT NULL,
	[Ed_izm] [int] NOT NULL,
 CONSTRAINT [PK_Materials_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_materials]    Script Date: 19.05.2026 20:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_materials](
	[ID] [int] NOT NULL,
	[ID_product] [int] NOT NULL,
	[ID_material] [int] NOT NULL,
	[Neob_col_material] [float] NOT NULL,
 CONSTRAINT [PK_Product_materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 19.05.2026 20:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Koeff_product] [float] NOT NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 19.05.2026 20:51:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] NOT NULL,
	[ID_product_type] [int] NOT NULL,
	[Production_name] [nvarchar](100) NOT NULL,
	[Articul] [int] NOT NULL,
	[Min_price_for_partner] [float] NOT NULL,
	[Shirina_rulona] [float] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ed_izm] ([ID], [Name]) VALUES (1, N'рул')
INSERT [dbo].[Ed_izm] ([ID], [Name]) VALUES (2, N'кг')
INSERT [dbo].[Ed_izm] ([ID], [Name]) VALUES (3, N'л')
GO
INSERT [dbo].[Material_type] ([ID], [Name], [Procent_of_brak]) VALUES (1, N'Бумага', 0.0070000002160668373)
INSERT [dbo].[Material_type] ([ID], [Name], [Procent_of_brak]) VALUES (2, N'Краска', 0.004999999888241291)
INSERT [dbo].[Material_type] ([ID], [Name], [Procent_of_brak]) VALUES (3, N'Клей', 0.0020000000949949026)
GO
INSERT [dbo].[Materials] ([ID], [Material_name], [ID_material_type], [Price_ed], [Count_in_warehouse], [Min_col], [Col_in_up], [Ed_izm]) VALUES (1, N'Бумага-основа с покрытием для флизелиновых обоев', 1, 1700, 2500, 1000, 100, 1)
INSERT [dbo].[Materials] ([ID], [Material_name], [ID_material_type], [Price_ed], [Count_in_warehouse], [Min_col], [Col_in_up], [Ed_izm]) VALUES (2, N'Бумага-основа для флизелиновых обоев', 1, 1500, 3000, 1000, 100, 1)
INSERT [dbo].[Materials] ([ID], [Material_name], [ID_material_type], [Price_ed], [Count_in_warehouse], [Min_col], [Col_in_up], [Ed_izm]) VALUES (3, N'Бумага обойная для вспененных виниловых обоев', 1, 1200, 1500, 1000, 100, 1)
GO
INSERT [dbo].[Product_materials] ([ID], [ID_product], [ID_material], [Neob_col_material]) VALUES (1, 5, 10, 1.95)
INSERT [dbo].[Product_materials] ([ID], [ID_product], [ID_material], [Neob_col_material]) VALUES (2, 12, 10, 0.21)
INSERT [dbo].[Product_materials] ([ID], [ID_product], [ID_material], [Neob_col_material]) VALUES (3, 14, 18, 1.5)
GO
INSERT [dbo].[Product_type] ([ID], [Name], [Koeff_product]) VALUES (1, N'Декоративные обои', 5.5)
INSERT [dbo].[Product_type] ([ID], [Name], [Koeff_product]) VALUES (2, N'Фотообои', 7.5)
INSERT [dbo].[Product_type] ([ID], [Name], [Koeff_product]) VALUES (3, N'Обои под покраску', 3.3)
GO
INSERT [dbo].[Products] ([ID], [ID_product_type], [Production_name], [Articul], [Min_price_for_partner], [Shirina_rulona]) VALUES (1, 1, N'Обои из природного материала Традиционный принт светло-коричневые', 1549922, 16950, 0.91)
INSERT [dbo].[Products] ([ID], [ID_product_type], [Production_name], [Articul], [Min_price_for_partner], [Shirina_rulona]) VALUES (2, 2, N'Фотообои флизелиновые Горы 500x270 см', 2018556, 15880, 0.5)
INSERT [dbo].[Products] ([ID], [ID_product_type], [Production_name], [Articul], [Min_price_for_partner], [Shirina_rulona]) VALUES (3, 3, N'Обои под покраску флизелиновые Рельеф', 3028272, 11080, 0.75)
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Ed_izm] FOREIGN KEY([Ed_izm])
REFERENCES [dbo].[Ed_izm] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Ed_izm]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Material_type] FOREIGN KEY([ID_material_type])
REFERENCES [dbo].[Material_type] ([ID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Material_type]
GO
ALTER TABLE [dbo].[Product_materials]  WITH CHECK ADD  CONSTRAINT [FK_Product_materials_Materials] FOREIGN KEY([ID_material])
REFERENCES [dbo].[Materials] ([ID])
GO
ALTER TABLE [dbo].[Product_materials] CHECK CONSTRAINT [FK_Product_materials_Materials]
GO
ALTER TABLE [dbo].[Product_materials]  WITH CHECK ADD  CONSTRAINT [FK_Product_materials_Products] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Product_materials] CHECK CONSTRAINT [FK_Product_materials_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_type] FOREIGN KEY([ID_product_type])
REFERENCES [dbo].[Product_type] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_type]
GO
USE [master]
GO
